@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    font-size: 18px;
}
body{
    margin: 4vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    width: 100%;
    margin-top: 20px;
   
}
nav .menu-item{
    background-color: #DDF7E3;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav li{
    list-style: none;

}
nav li a{
    color: #57C5B6;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px
}
nav li a.active{
    color: #FF5722;
}


.sidebar{
    width: 100%;
    border: 1px solid #57C5B6;
    padding: 15px;
    border-radius: 4px;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span{
   color: #57C5B6;
   font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: center;
}

.searchbar{
    width: 100%;
    background-color: #DDF7E3;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input{
    border: none;
    outline: none;
    background: none;
}

::placeholder {
    font-size: 15px;
    color: #57C5B6;
  }
  
.glass:hover{
    color: #FF5722;
    cursor: pointer;
}
.glass{
    color: #57C5B6;
}

.copy{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #57C5B6;
    font-weight: 500;
}


.data{
    width: 81%;
    border-radius: 4px;
    height: 92vh;
    overflow: auto;
}


.top{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDF7E3;
    border-radius: 4px;
    height: 125px;
    padding: 50px;
}
h1{
    font-size: xx-large;
    color: #57C5B6;
}


.description{
    color: #57C5B6;
    width: 60%;
    margin-left: 50px;
}
.header{
    height: 200px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3vh 0;
    background-color: #57C5B6;
}

.header p{
    font-size: 40px;
    font-weight: bold;
    color: white;
}

#root{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.box{
    margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #57C5B6;
    border-radius: 5px;
    padding: 15px;
}

.img-box{
    width: 100%;
    height: 176px;
    display: flex;
    align-items: center;
    justify-content: center
}

product {
    display: flex;
    flex-flow: column;
    max-width: 220px;
    margin: auto;
  }

product > img{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}

.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

h2{
    font-size: 20px;
    color: #FF5722;
}
.cart{
    margin-right: 15px;
}
button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #57C5B6;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}

button:hover{
    background-color: #FF5722;
}

::-webkit-scrollbar{
    display: none;
}

